:root{
    --grijsblauw:#9db7beda;
    --ietslichtergrijsblauw:#9db7be;
    --black:#130f40;
    --light-color:#666;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    padding-bottom: 5rem;
    padding-top: 5rem;
}

.services .box-container .box{
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
}

.services .box-container .box i{
    height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--black);
    background: #eee;
    border-radius: 50%;
    margin-bottom: 1rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.2rem;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    padding: 1rem;
    line-height: 1.8;
}

.services .box-container .box:hover{
    background: #c9c9c2;
}

.services .box-container .box:hover h3{
    color: #fff;
}

.services .box-container .box:hover p{
    color: #eee;
}